<h2 mat-dialog-title class="forget-password-title">Forget Password</h2>

<mat-dialog-content class="forget-password-dialog">
  <form [formGroup]="formGroup">
    <mat-form-field appearance="outline">
      <mat-label>Verification code</mat-label>
      <input
        matInput
        type="text"
        formControlName="verificationCode"
        (blur)="updateVerificationCodeErrorMessage()"
        required
      />
      @if (verificationCode.invalid) {
      <mat-error>{{ verificationCodeErrorMessage() }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>New password</mat-label>
      <input
        matInput
        type="password"
        formControlName="newPassword"
        (blur)="updateNewPasswordErrorMessage()"
        required
      />
      @if (newPassword.invalid) {
      <mat-error>{{ newPasswordErrorMessage() }}</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button [disabled]="isLoading()" (click)="forgetPassword()">
    Update Password
  </button>
</mat-dialog-actions>
